{% load static %}
{% load i18n %}
<!--============= Call In Section Starts Here =============-->
<section class="call-in-section">
    <div class="container">
        <div class="call-wrapper cl-white bg_img" data-background="{%static 'images/call-in/call-bg.png' %}">
            <div class="section-header">
                <h3 class="title">{% translate 'Register for Free & Start Bidding Now!' %}</h3>
                <p>{% translate 'From cars to diamonds to iPhones, we have it all.' %}</p>
            </div>
            <a href="sign-up.html" class="custom-button white">{% translate 'Register' %}</a>
        </div>
    </div>
</section>
<!--============= Call In Section Ends Here =============-->