{% load static %}
{% load i18n %}
<!--============= Footer Section Starts Here =============-->
<footer class="bg_img padding-top oh" data-background="{% static 'images/footer/footer-bg.jpg' %}">
    <div class="footer-top-shape">
        <img src="{% static 'images/footer/footer-top-shape.png' %}" alt="css">
    </div>
    <div class="anime-wrapper">
        <div class="anime-1 plus-anime">
            <img src="{% static 'images/footer/p1.png' %}" alt="footer">
        </div>
        <div class="anime-2 plus-anime">
            <img src="{% static 'images/footer/p2.png' %}" alt="footer">
        </div>
        <div class="anime-3 plus-anime">
            <img src="{% static 'images/footer/p3.png' %}" alt="footer">
        </div>
        <div class="anime-5 zigzag">
            <img src="{% static 'images/footer/c2.png' %}" alt="footer">
        </div>
        <div class="anime-6 zigzag">
            <img src="{% static 'images/footer/c3.png' %}" alt="footer">
        </div>
        <div class="anime-7 zigzag">
            <img src="{% static 'images/footer/c4.png' %}" alt="footer">
        </div>
    </div>
    <div class="newslater-wrapper">
        <div class="container">
            <div class="newslater-area">
                <div class="newslater-thumb">
                    <img src="{% static 'images/footer/newslater.png' %}" alt="footer">
                </div>
                <div class="newslater-content">
                    <div class="section-header left-style mb-low">
                        <h5 class="cate">{% translate 'Subscribe to Sbidu' %}</h5>
                        <h3 class="title">{% translate 'To Get Exclusive Benefits' %}</h3>
                    </div>
                    <form class="subscribe-form">
                        <input type="text" placeholder="{% translate 'Enter Your Email' %}" name="email">
                        <button type="submit" class="custom-button">{% translate 'Subscribe' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top padding-bottom padding-top">
        <div class="container">
            <div class="row mb--60">
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-widget widget-links">
                        <h5 class="title">{% translate 'Auction Categories' %}</h5>
                        <ul class="links-list">
                            <li>
                                <a href="#0">{% translate 'Vehicles' %}</a>
                            </li>
                            <li>
                                <a href="#0">{% translate 'Watches' %}</a>
                            </li>
                            <li>
                                <a href="#0">{% translate 'Electronics' %}</a>
                            </li>
                            <li>
                                <a href="#0">{% translate 'Real Estate' %}</a>
                            </li>
                            <li>
                                <a href="#0">{% translate 'Jewelry' %}</a>
                            </li>
                            <li>
                                <a href="#0">{% translate 'Art' %}</a>
                            </li>
                            <li>
                                <a href="#0">{% translate 'Sports & Outdoor' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-widget widget-links">
                        <h5 class="title">{% translate 'About Us' %}</h5>
                        <ul class="links-list">
                            <li>
                                <a href="#0">{% translate 'Private Policy' %}</a>
                            </li>
                            <li>
                                <a href="#0">{% translate 'Jobs' %}</a>
                            </li>
                            <li>
                                <a href="#0">{% translate 'Company Policy' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-widget widget-links">
                        <h5 class="title">{% translate 'We are Here to Help' %}</h5>
                        <ul class="links-list">
                            <li>
                                <a href="#0">{% translate 'Your Account' %}</a>
                            </li>
                            <li>
                                <a href="#0">{% translate 'Safe and Secure' %}</a>
                            </li>
                            <li>
                                <a href="#0">{% translate 'Shipping Information' %}</a>
                            </li>
                            <li>
                                <a href="#0">{% translate 'Help & FAQ' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-widget widget-follow">
                        <h5 class="title">{% translate 'Follow Us' %}</h5>
                        <ul class="links-list">
                            <li>
                                <a href="#0"><i class="fas fa-phone-alt"></i>{% translate '(84) 968 0608 155' %}</a>
                            </li>
                            <li>
                                <a href="#0"><i class="fas fa-blender-phone"></i>{% translate '(84) 968 0608 155' %}</a>
                            </li>
                            <li>
                                <a href="#0"><i class="fas fa-envelope-open-text"></i><span class="__cf_email__"
                                        data-cfemail="eb838e879bab8e858c849f838e868ec5888486">[email&#160;protected]</span></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fas fa-location-arrow"></i>{% translate '1201 Broadway Suite' %}</a>
                            </li>
                        </ul>
                        <ul class="social-icons">
                            <li>
                                <a href="#0" class="active"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright-area">
                <div class="footer-bottom-wrapper">
                    <div class="logo">
                        <a href="index.html"><img src="{% static 'images/footer/footer-logo.png' %} "
                                alt="logo"></a>
                    </div>
                    <ul class="gateway-area">
                        <li>
                            <a href="#0"><img src="{% static 'images/footer/paypal.png' %}" alt="footer"></a>
                        </li>
                        <li>
                            <a href="#0"><img src="{% static 'images/footer/visa.png' %}" alt="footer"></a>
                        </li>
                        <li>
                            <a href="#0"><img src="{% static 'images/footer/discover.png' %}" alt="footer"></a>
                        </li>
                        <li>
                            <a href="#0"><img src="{% static 'images/footer/mastercard.png' %}" alt="footer"></a>
                        </li>
                    </ul>
                    <div class="copyright">
                        <p>&copy; {% translate 'Copyright 2021 | Sbidu By Uiaxis' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--============= Footer Section Ends Here =============-->