a.user-button img#user-avatar {
    border-radius: 50%;
    padding: 0 0 5px 0; /* top right bottom left */
}
ul.cart-button-area li a#logout-button {
    color: #fff;
}

/* main.css:7140 */
.auction-item-2 .auction-thumb .rating i {
    color: #ff7800;
    font-weight: 900;
    font-size: 26px;
}