a.user-button img#user-avatar {
    border-radius: 50%;
    padding: 0 0 5px 0; /* top right bottom left */
}
ul.cart-button-area li a#logout-button {
    color: #fff;
}

/* main.css:7140 */
.auction-item-2 .auction-thumb .rating i {
    color: #ff7800;
    font-weight: 900;
    font-size: 26px;
}

/* main.css:6811 */
.slide-top-item {
    margin: 15px;
    box-shadow: 0px 0px 15px rgba(22, 26, 57, 0.36);
    background: #f1f3fd;
    border-radius: 20px;
    height: 500px;
}