{% extends '_partials/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% translate 'Register Product' %}{% endblock title %} 

{% block add_product %}
    <!--============= Hero Section Starts Here =============-->
    <div class="hero-section">
        <div class="container"></div>
        <div class="bg_img hero-bg bottom_center" data-background="{% static 'images/banner/hero-bg.png' %} "></div>
    </div>
    <!--============= Hero Section Ends Here =============-->

    <!--============= Add Product Section Starts Here =============-->
    <section class="contact-section padding-bottom">
        <div class="container">
            <div class="contact-wrapper padding-top padding-bottom mt--100 mt-lg--440">
                <div class="section-header">
                    <h2 class="title">REGISTER PRODUCT</h2>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <form class="contact-form" id="contact_form" method="POST" enctype="multipart/form-data" action="">
                            {% csrf_token %}
                            {% for hidden in product_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {{product_form.media}}
                            {{ product_form.product_name }}
                            {{ product_form.description }}
                            <div class="mt-2 mb-2 col-xl-11 col-lg-11">
                                {{ image_form.management_form }}
                                {{ image_form.product_images }}
                            </div>
                            <div class="form-group mb-0 text-center">
                                <button type="submit" class="custom-button">{% translate 'REGISTER' %}</button>
                            </div>
                        </form>
                        {% comment %} 
                            <div class="form-group">
                                <label for="categories"><i class="fa-solid fa-list"></i></label>
                                {% if categories %}
                                    <select name="categories" id="categories" class="col-4 ml-5">
                                        <option disabled selected>--  {% translate 'Choose Categories' %}  --</option>
                                        {% for category in categories %}
                                            <option value="{{category.id}}">{{ category.category_name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>
                        {% endcomment %}
                    </div>
                    <div class="col-xl-4 col-lg-5 d-lg-block d-none">
                        <img src="{% static 'images/banner/banner-4.png' %}" class="w-100" alt="images">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Add Product Section Ends Here =============-->
{% endblock add_product %}

