{% load static %}
{% load i18n %}
<!--============= Featured Auction Section Starts Here =============-->
<section class="featured-auction-section padding-bottom padding-top pos-rel oh">
    <div class="car-bg"><img src="{% static 'images/auction/featured/featured-bg-2.png' %}" alt="featured"></div>
    <div class="container">
        <div class="section-header-3">
            <div class="left d-block">
                <!-- Sản Phẩm Nổi Bật -->
                <h2 class="title mb-3">{% translate 'Featured Items' %}</h2>
                <!-- Tham gia đấu giá và sở hữu ngay cho riêng bạn -->
                <p>{% translate 'Start winning with comfort' %}</p>
            </div>
            <!-- Xem tất cả -->
            <a href="#0" class="normal-button">{% translate 'View All' %}</a>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="col-sm-10 col-md-6 col-lg-4">
                <div class="auction-item-8">
                    <div class="auction-thumb">
                        <div class="countdown-area">
                            <div class="countdown">
                                <div id="min_counter_1" class="count-item"></div>
                            </div>
                            <a href="#0" class="bid"><i class="fa-solid fa-gavel"></i></a>
                            <a href="#0" class="rating"><i class="far fa-star"></i></a>
                        </div>
                        <a href="product-details.html" class="thumb-area bg_img"
                            data-background="{% static 'images/auction/featured/auction-1.png' %}"></a>
                    </div>
                    <div class="auction-content">
                        <div class="title-area">
                            <h6 class="title">
                                <a href="./product-details.html">{% translate '4402 NW 47th St, Tamarac' %}</a>
                            </h6>
                            <div class="item-feature">
                                <span>{% translate '1,215 Sq. Ft.' %}</span>
                            </div>
                        </div>
                        <div class="bid-area">
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="fa-solid fa-gavel"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">{% translate 'Current Bid' %}</div>
                                    <div class="amount">{% translate '$876.00' %}</div>
                                </div>
                            </div>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">{% translate 'Buy Now' %}</div>
                                    <div class="amount">{% translate '$876.00' %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="bid-count-area">
                            <span class="item">
                                <span class="left">{% translate 'Total Bids' %}</span>97
                            </span>
                            <span class="item">
                                <span class="left">{% translate 'Last Bid' %}</span>{% translate '7 mins ago' %}
                            </span>
                        </div>
                        <div class="text-center">
                            <a href="#0" class="custom-button">{% translate 'Submit A Bid' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4">
                <div class="auction-item-8">
                    <div class="auction-thumb">
                        <div class="countdown-area">
                            <div class="countdown">
                                <div id="min_counter_2" class="count-item"></div>
                            </div>
                            <a href="#0" class="bid"><i class="fa-solid fa-gavel"></i></a>
                            <a href="#0" class="rating"><i class="far fa-star"></i></a>
                        </div>
                        <a href="product-details.html" class="thumb-area bg_img"
                            data-background="{% static 'images/auction/featured/auction-2.png' %}"></a>
                    </div>
                    <div class="auction-content">
                        <div class="title-area">
                            <h6 class="title">
                                <a href="./product-details.html">{% translate '4402 NW 47th St, Tamarac' %}</a>
                            </h6>
                            <div class="item-feature">
                                <span>{% translate '1,215 Sq. Ft.' %}</span>
                            </div>
                        </div>
                        <div class="bid-area">
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="fa-solid fa-gavel"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">{% translate 'Current Bid' %}</div>
                                    <div class="amount">{% translate '$876.00' %}</div>
                                </div>
                            </div>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">{% translate 'Buy Now' %}</div>
                                    <div class="amount">{% translate '$876.00' %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="bid-count-area">
                            <span class="item">
                                <span class="left">{% translate 'Total Bids' %}</span>97
                            </span>
                            <span class="item">
                                <span class="left">{% translate 'Last Bid' %}</span>{% translate '7 mins ago' %}
                            </span>
                        </div>
                        <div class="text-center">
                            <a href="#0" class="custom-button">{% translate 'Submit A Bid' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4">
                <div class="auction-item-8">
                    <div class="auction-thumb">
                        <div class="countdown-area">
                            <div class="countdown">
                                <div id="min_counter_3" class="count-item"></div>
                            </div>
                            <a href="#0" class="bid"><i class="fa-solid fa-gavel"></i></a>
                            <a href="#0" class="rating"><i class="far fa-star"></i></a>
                        </div>
                        <a href="product-details.html" class="thumb-area bg_img"
                            data-background="{% static 'images/auction/featured/auction-3.png' %}"></a>
                    </div>
                    <div class="auction-content">
                        <div class="title-area">
                            <h6 class="title">
                                <a href="./product-details.html">{% translate '4402 NW 47th St, Tamarac' %}</a>
                            </h6>
                            <div class="item-feature">
                                <span>{% translate '1,215 Sq. Ft.' %}</span>
                            </div>
                        </div>
                        <div class="bid-area">
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="fa-solid fa-gavel"></i>
                                </div>
                                <div class="amount-content">
                                    <!-- Giá hiện tại -->
                                    <div class="current">
                                        {% translate 'Current Bid' %}
                                    </div>
                                    <div class="amount">{% translate '$876.00' %}</div>
                                </div>
                            </div>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">{% translate 'Buy Now' %}</div>
                                    <div class="amount">{% translate '$876.00' %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="bid-count-area">
                            <span class="item">
                                <span class="left">{% translate 'Total Bids' %}</span>97
                            </span>
                            <span class="item">
                                <span class="left">{% translate 'Last Bid' %}</span>{% translate '7 mins ago' %}
                            </span>
                        </div>
                        <div class="text-center">
                            <a href="#0" class="custom-button">{% translate 'Submit A Bid' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= Featured Auction Section Ends Here =============-->