{% extends '_partials/base.html' %}
{% load static %}
{% load i18n %}
{% block home %}
    {% comment %} Banner Section Starts Here {% endcomment %}
    {% include '_partials/banner.html' %}
    {% comment %} Banner Section Ends Here {% endcomment %}
    
    <!--============= Featured Auction Section Starts Here =============-->
    
    <!--============= Featured Auction Section Ends Here =============-->

    <!--============= Upcoming Auction Section Starts Here =============-->
    
    <!--============= Upcoming Auction Section Ends Here =============-->

    {% comment %} Call In Section Starts Here {% endcomment %}
    {% include '_partials/call-in.html' %}
    {% comment %} Call In Section Ends Here {% endcomment %}

{% endblock home %}