{% extends '_partials/base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block title %}{% translate 'Online Auction Home' %}{% endblock title %} 
{% block home %}
    {% comment %} Banner Section Starts Here {% endcomment %}
    {% include '_partials/banner.html' %}
    {% comment %} Banner Section Ends Here {% endcomment %}
    
    <!--============= Hightlight Slider Section Starts Here =============-->
    <div class="browse-slider-section padding-top pt-lg-0 mt--140 mt-max-xl-0">
        <div class="container">
            <div class="section-header-2 mb-4">
                <div class="left">
                    <h6 class="title pl-0">{% translate 'Categories' %}</h6>
                </div>
                <div class="slider-nav">
                    <a href="#0" class="bro-prev"><i class="fa-solid fa-arrow-left"></i></a>
                    <a href="#0" class="bro-next active"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>        
            <div class="m--15">
                <div class="browse-slider-2 owl-theme owl-carousel">
                    {% if categories_list_one %}
                        {% for category in categories_list_one %}
                            <a href="{% url 'auction:category_detail' category.category_slug %}" class="browse-item-2">
                                <div class="thumb">
                                    <img src="{{ category.category_image.url }}" alt="auction">
                                </div>
                                <div class="content">
                                    <span class="title">{{ category.category_name }}</span>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="m--15">
                <div class="browse-slider-2 owl-theme owl-carousel">
                    {% if categories_list_two %}
                        {% for category in categories_list_two %}
                            <a href="{% url 'auction:category_detail' category.category_slug %}" class="browse-item-2">
                                <div class="thumb">
                                    <img src="{{ category.category_image.url }}" alt="auction">
                                </div>
                                <div class="content">
                                    <span class="title">{{ category.category_name }}</span>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--============= Hightlight Slider Section Ends Here =============-->


    <!--============= Featured Auction Section Starts Here =============-->
    <section class="featured-auction-section padding-bottom padding-top pos-rel oh">
        <div class="car-bg"><img src="{% static 'images/auction/featured/featured-bg-2.png' %}" alt="featured"></div>
        <div class="container">
            <div class="section-header-3">
                <div class="left d-block">
                    <h2 class="title mb-3">{% translate 'Live Auctions' %}</h2>
                    <p>{% translate 'Start winning with comfort' %}</p>
                </div>
                <a href="{% url 'auction:category_detail' category.category_slug %}" class="normal-button">{% translate 'View All' %}</a>
            </div>
            <div class="row justify-content-center mb-30-none">
                {% if auctions and products and auction_histories %}
                    {% for auction in auctions %}
                        {% for product in products %}
                            {% if product.id == auction.product_id %}
                                <div class="col-sm-10 col-md-6 col-lg-4">
                                    <div class="auction-item-8">
                                        <div class="auction-thumb">
                                            <div class="countdown-area">
                                                <div class="countdown">
                                                    <div id="min_counter_{{ product.id}}" class="count-item"></div>
                                                </div>
                                                <a href="#0" class="bid"><i class="fa-solid fa-gavel"></i></a>
                                                <a href="#0" class="rating"><i class="far fa-star"></i></a>
                                            </div>
                                            <a href="#" class="thumb-area bg_img"
                                                data-background="{{ product.product_thumbnail.url }}"></a>
                                        </div>
                                        <div class="auction-content">
                                            <div class="title-area">
                                                <h6 class="title">
                                                    <a href="{% url 'auction:product_detail' product.pk product.product_slug %}">{{ product.product_name }}</a>
                                                </h6>
                                            </div>
                                            <div class="text-center">
                                                {% if request.user.is_authenticated %}
                                                    <a href="{% url 'auction:product_detail' product.pk product.product_slug %}" class="custom-button">{% translate 'Submit A Bid' %}</a>
                                                {% else %}
                                                    <a href="{% url 'authentication:login' %}" class="custom-button">{% translate 'Login to Bid' %}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                
                
            </div>
        </div>
    </section>
    <!--============= Featured Auction Section Ends Here =============-->

    {% comment %} Call In Section Starts Here {% endcomment %}
    {% include '_partials/call-in.html' %}
    {% comment %} Call In Section Ends Here {% endcomment %}

{% endblock home %}