{% extends '_partials/base.html' %}
{% load static %}
{% load i18n %}
{% block product %}
    <!--============= Hero Section Starts Here =============-->
    <div class="hero-section">
        <div class="container"></div>
        <div class="bg_img hero-bg bottom_center" data-background="{% static 'images/banner/hero-bg.png' %} "></div>
    </div>
    <!--============= Hero Section Ends Here =============-->

    <!--============= Product Auction Section Starts Here =============-->
    <div class="product-auction padding-bottom">
        <div class="container">
            <div class="product-header mb-40">
                <div class="product-header-item">
                    <div class="item">Sort By : </div>
                    <select name="sort-by" class="select-bar">
                        <option value="all">All</option>
                        <option value="name">Name</option>
                        <option value="date">Date</option>
                        <option value="type">Type</option>
                        <option value="car">Car</option>
                    </select>
                </div>
                <div class="product-header-item">
                    <div class="item">Show : </div>
                    <select name="sort-by" class="select-bar">
                        <option value="09">09</option>
                        <option value="21">21</option>
                        <option value="30">30</option>
                        <option value="39">39</option>
                        <option value="60">60</option>
                    </select>
                </div>
                <form class="product-search ml-auto">
                    <input type="text" placeholder="Item Name">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="row mb-30-none justify-content-center">
                {% if product_list %}
                    {% for product in product_list %} 
                        <div class="col-sm-10 col-md-6 col-lg-4">
                            <div class="auction-item-2">
                                <div class="auction-thumb">
                                    <a href="#"><img src="{{ product.product_thumbnail.url }}"></a>
                                    <a href="#0" class="rating"><i class="far fa-star"></i></a>
                                    <a href="#0" class="bid"><i class="fa-solid fa-gavel"></i></a>
                                </div>
                                <div class="auction-content">
                                    <h6 class="title">
                                        <a href="{% url 'auction:product_detail' product.pk product.product_slug %}">{{ product.product_name }}</a>
                                    </h6>
                                    <div class="bid-area">
                                        <div class="bid-amount">
                                            <div class="icon">
                                                <i class="fa-solid fa-gavel"></i>
                                            </div>
                                            <div class="amount-content">
                                                <div class="current">Current Bid</div>
                                                <div class="amount">$876.00</div>
                                            </div>
                                        </div>
                                        <div class="bid-amount">
                                            <div class="icon">
                                                <i class="fa-solid fa-sack-dollar"></i>
                                            </div>
                                            <div class="amount-content">
                                                <div class="current">Buy Now</div>
                                                <div class="amount">$5,00.00</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="countdown-area">
                                        <div class="countdown">
                                            <div id="bid_counter{{ product.id }}" style="font-size: 16px;"></div>
                                        </div>
                                        <span class="total-bids">30 Bids</span>
                                    </div>
                                    <div class="text-center">
                                        <a href="#0" class="custom-button">Submit a bid</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% comment %} {% if product_list and product_images %}
                {% for product in product_list %}
                    {% for image in product_images %}
                        <!-- Neu id hinh anh va id san pham bang nhau, lay ra hinh anh dau tien cua san pham -->
                        {% if image.product_id == product.id and forloop.first %} 
                            {{ image.product_images.url }} 
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %} {% endcomment %}
        </div>
    </div>
    <!--============= Product Auction Section Ends Here =============-->
{% endblock product %}