{% extends '_partials/base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% block title %}{% translate 'Product Detail' %}{% endblock title %}

{% block product_detail %}
    <!--============= Hero Section Starts Here =============-->
    <div class="hero-section style-2">
        <div class="bg_img hero-bg bottom_center" data-background="{% static 'images/banner/hero-bg.png' %}"></div>
    </div>
    <!--============= Hero Section Ends Here =============-->

    <!--============= Product Details Section Starts Here =============-->
    <section class="product-details padding-bottom mt--240 mt-lg--440">
        {% comment %} Neu co san pham va phien dau gia {% endcomment %}
        {% if product and product_images and auction %}
            <!-- Anh san pham -->
            <div class="container">
                    <div class="product-details-slider-top-wrapper">
                        <div class="product-details-slider owl-theme owl-carousel" id="sync1">
                            {% for image in product_images %}
                                <div class="slide-top-item">
                                    <div class="slide-inner">
                                        <img src="{{ image.product_images.url }}" alt="product">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="product-details-slider-wrapper">
                        <div class="product-bottom-slider owl-theme owl-carousel" id="sync2">
                            {% for image in product_images %}
                                <div class="slide-bottom-item">
                                    <div class="slide-inner">
                                        <img src="{{ image.product_images.url }}" alt="product">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <span class="det-prev det-nav">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="det-next det-nav active">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </div>
                <!-- Thong tin san pham -->
                <div class="row mt-40-60-80">
                    <div class="col-lg-8">
                        <div id="product-details-content" class="product-details-content">
                            <div class="product-details-header">
                                <h2 class="title">{{ product.product_name }}</h2>
                            </div>
                            <ul class="price-table mb-30">
                                <li class="header">
                                    {% if auction.winner %}
                                        <h5 class="current">{% translate 'Final Price' %}</h5>
                                        <h3 id="h3_price" class="price">{{ auction.final_price |intcomma }} {% translate 'đ' %}</h3>
                                    {% else %}
                                        <h5 class="current">{% translate 'Current Price' %}</h5>
                                        <h3 id="h3_price" class="price">
                                        {% if highest_price %}
                                            {{ highest_price |intcomma }}
                                        {% else %}
                                            {{ auction.minimum_price |intcomma }}
                                        {% endif %}{% translate 'đ' %}</h3>
                                    {% endif %}
                                </li>
                                <li class="header">
                                    <h5 class="current">{% translate 'Base Price' %}</h5>
                                    <h3 class="price">{{ auction.minimum_price |intcomma }} {% translate 'đ' %}</h3>
                                </li>
                                <li>
                                    <span class="details">{% translate 'Bid Increment (VN)' %}</span>
                                    <h5 class="info">{{ auction.bid_increament |intcomma }} {% translate 'đ' %}</h5>
                                </li>
                            </ul>
                            {% if not auction.winner %}
                                <div class="product-bid-area">
                                    <form action="#product-details-content" class="product-bid-form">
                                        <div class="search-icon">
                                            <img src="{% static 'images/product/search-icon.png' %}" alt="product">
                                        </div>
                                        {% if room %}
                                            <input id="chat-message-input" type="text" placeholder="{{ auction.minimum_price | intcomma }}" value="{{ auction.minimum_price}}" disabled>
                                            <button id="increase-items-count" class="btn btn-primary" type="button"><i class="fas fa-arrow-up" aria-hidden="true"></i></button>
                                            <button id="chat-submit" type="button" class="custom-button">{% translate 'Submit a bid' %}</button>
                                        {% else %}
                                            <input type="text" placeholder="{% translate 'Place you bid amount' %}" disabled>
                                                <a class="custom-button" href="{% url 'authentication:login' %}">{% translate 'Login to bid' %}</a>
                                        {% endif %}
                                    </form>
                                    <div class="invalid-feedback">AAA</div>
                                </div>
                            {% endif %}
                            <div class="buy-now-area">
                                <a href="#0" class="custom-button">{% translate 'Buy Now: ' %} {{ auction.minimum_price | intcomma }} đ</a>
                                <a href="#0" class="rating custom-button active border"><i class="fas fa-star"></i> {% translate 'Add to Wishlist' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product-sidebar-area">
                            <div class="product-single-sidebar mb-3">
                                <h6 class="title">{% translate 'This Auction Ends in:' %}</h6>
                                <div class="countdown">
                                    <div id="clock_count" hidden data-time="{{ auction.end_time|date:'M j, Y G:i:s' }}"></div>
                                    <div id="bid_counter1"></div>
                                </div>
                                {% if auction.winner %}
                                    <div class="side-counter-area">
                                        <div class="side-counter-item">
                                            <div class="thumb">
                                                <img src="{% static 'images/product/icon1.png' %}" alt="product">
                                            </div>
                                            <div class="content">
                                                <h3 class="count-title"> {{ auction.winner }}</h3>
                                                <p>{% translate 'is the winner' %}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="side-counter-area">
                                        <div class="side-counter-item">
                                            <div class="thumb">
                                                <img src="{% static 'images/product/icon1.png' %}" alt="product">
                                            </div>
                                            <div class="content">
                                                <h3 class="count-title">{% translate 'No winner.' %}</h3>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-tab-menu-area mb-40-60 mt-70-100">
                <div class="container">
                    <ul class="product-tab-menu nav nav-tabs">
                        <li>
                            <a href="#details" class="active" data-toggle="tab">
                                <div class="thumb">
                                    <img src="{% static 'images/product/tab1.png' %}" alt="product">
                                </div>
                                <div class="content">{% translate 'Description' %}</div>
                            </a>
                        </li>
                        <li>
                            <a href="#history" data-toggle="tab">
                                <div class="thumb">
                                    <img src="{% static 'images/product/tab3.png' %}" alt="product">
                                </div>
                                <div id="bid_history_content" class="content">{% translate 'Bid History' %}</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Thong tin chi tiet san pham -->
            <div class="container">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="details">
                        <div class="tab-details-content">
                            <div class="header-area">
                                <!-- Ten san pham -->
                                <h3 class="title">{{ product.product_name }}</h3>
                                <!-- Mo ta chi tiet san pham -->
                                <div class="item">
                                    {{ product.description | safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Lich su dau gia -->
                    <div class="tab-pane fade show" id="history">
                        <div class="history-wrapper">
                            <div class="item">
                                <h5 class="title">{% translate 'Bid History' %}</h5>
                                <div class="history-table-area">
                                    <table class="history-table">
                                        <thead>
                                            <tr>
                                                <th>{% translate 'Bidder' %}</th>
                                                <th>{% translate 'date' %}</th>
                                                <th>{% translate 'time' %}</th>
                                                <th>{% translate 'unit price' %}</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% comment %} Thong bao neu khong co san pham va phien dau gia {% endcomment %}
            <h4>{% translate 'No auctions are available.' %}</h4>
        {% endif %}
    </section>
    <!--============= Product Details Section Ends Here =============-->
{% endblock product_detail %}

{% block bid_scripts %}
    <script type="text/javascript"  src="{% static 'js/myJS/reconnecting-websocket.js' %}" ></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const formatter = new Intl.NumberFormat('vi-VN', {
                style: 'currency',
                currency: 'VND',
            });
            let chat_message_input = document.querySelector("#chat-message-input");
            let highest_price_element = document.querySelector("#h3_price");
            let bid_history_element = document.querySelector("#bid_history_content");
            let room_name_json = {{ room_name_json }};
            let roomName = {{ auction.id | escapejs }};
            let username = {{ username }};
            // Bien luu tru gia tri tien cao nhat
            let highest_price_js;
            let bid_feedback = document.querySelector(".invalid-feedback");

            // Ket noi socket toi server
            let url = "ws://" + window.location.host + "/ws/auction/" + room_name_json + "/" + "{{ product.product_slug }}";
            let chatSocket = new ReconnectingWebSocket(url);
            // Ket noi thanh cong
            chatSocket.onopen = function (event) {
                console.log("chat socket opened!");
                fetchMessages();
            };
            // Trao doi du lieu qua socket
            chatSocket.onmessage = function(event) {
                const data = JSON.parse(event.data);
                console.log("message receive from server ...", data);
                // Cap nhat trang thai khi truy cap vao trang xem chi tiet san pham
                if(data['command'] === 'messages'){
                    highest_price_js = data['highest_price'];
                    // Lich su so nguoi tham gia dau gia: Bid History (36)
                    bid_history_element.textContent = "Bid History ("+ data['messages'].length +")";
                    // Cap nhat lai gia cao nhat
                    highest_price_element.textContent = formatter.format(data['highest_price']);
                    if(chat_message_input) {
                        chat_message_input.value = data['highest_price'];
                    }
                    for(let i=0; i<data['messages'].length; i++){
                        createMessage(data['messages'][i]);
                    }
                }
                // Cap nhat lai trang thai khi nguoi dung dat gia
                if(data['command'] === 'new_message'){
                    bid_history_element.textContent = "Bid History ("+ data['history_count'] +")";
                    chat_message_input.value = data['message']['price'];
                    highest_price_element.textContent = formatter.format(data['message']['price']);
                    createMessage(data['message']);
                }
            }
            // Dong ket noi
            chatSocket.onclose = function(event) {
                console.error('Chat socket closed unexpectedly!');
            };

            // My Custom JS
            function fetchMessages()
            {
                chatSocket.send(JSON.stringify({ 
                    command : "fetch_messages",
                    auction_id : roomName
                }));
            };
            function createMessage(data){
                let bidder = data['bidder'];
                let date_bidded = data['date_bidded'];
                let time_bidded = data['time_bidded'];
                let price = data['price'];
                let avatar = data['avatar'];

                let div_thumb = document.createElement("div");
                div_thumb.classList.add("thumb");
                let img = document.createElement("img");
                img.src = avatar;
                img.alt = "history"
                div_thumb.appendChild(img);

                let div_content = document.createElement("div");
                div_content.classList.add("content");
                div_content.textContent = bidder;

                let div_user_info = document.createElement("div");
                div_user_info.classList.add("user-info");
                div_user_info.appendChild(div_thumb);
                div_user_info.appendChild(div_content);

                let td_bidder = document.createElement("td");
                td_bidder.appendChild(div_user_info);

                let td_date = document.createElement("td");
                td_date.textContent = date_bidded;

                let td_time = document.createElement("td");
                td_time.textContent = time_bidded;

                let td_price = document.createElement("td");
                td_price.textContent = formatter.format(price);

                var tr = document.createElement("tr");
                tr.appendChild(td_bidder);
                tr.appendChild(td_date);
                tr.appendChild(td_time);
                tr.appendChild(td_price);

                var tbody = document.createElement("tbody");
                tbody.appendChild(tr);

                let history_table = document.querySelector(".history-table");
                history_table.appendChild(tbody);
            }

            if(!chat_message_input) {
                console.error("chat_message_input DOM element doesn't exist...");
                return 0;
            }
            // Nut tang gia tri dau gia
            document.querySelector('#increase-items-count').onclick = function(event) {
                let bid_value = chat_message_input.value;
                if (!isNaN(bid_value)) 
                {
                    chat_message_input.value = parseInt(chat_message_input.value) + parseInt({{auction.bid_increament}});
                }
            }
            // Nut xac nhan dau gia
            document.querySelector('#chat-submit').onclick = function(event) {
                //bid_feedback.style.display = "none";
                //let bid_value = parseInt(chat_message_input.value);
                //if(typeof highest_price_js !== "undefined") {
                    // highest_price_js is a valid variable, do something here.
                    //if(bid_value <= highest_price_js) {
                    //    bid_feedback.style.display = "block";
                    //    bid_feedback.textContent = "Your bid price must be higher than current price";
                    //}
                    //else {
                    //    bid_feedback.style.display = "none";
                    //}
                //}

                //else {
                //    bid_feedback.style.display = "none";
                message = chat_message_input.value;
                chatSocket.send(JSON.stringify({
                    command: "new_message",
                    message: message,
                    from: username,
                    auction_id: roomName
                }));
                //}
            }
        });
    </script>
{% endblock bid_scripts %}