{% extends '_partials/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% translate 'Product Detail' %}{% endblock title %}

{% block product_detail %}
    <!--============= Hero Section Starts Here =============-->
    <div class="hero-section style-2">
        <div class="bg_img hero-bg bottom_center" data-background="{% static 'images/banner/hero-bg.png' %}"></div>
    </div>
    <!--============= Hero Section Ends Here =============-->

    <!--============= Product Details Section Starts Here =============-->
    <section class="product-details padding-bottom mt--240 mt-lg--440">
        {% if product and product_images %}
            <!-- Anh san pham -->
            <div class="container">
                    <div class="product-details-slider-top-wrapper">
                        <div class="product-details-slider owl-theme owl-carousel" id="sync1">
                            {% for image in product_images %}
                                <div class="slide-top-item">
                                    <div class="slide-inner">
                                        <img src="{{ image.product_images.url }}" alt="product">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="product-details-slider-wrapper">
                        <div class="product-bottom-slider owl-theme owl-carousel" id="sync2">
                            {% for image in product_images %}
                                <div class="slide-bottom-item">
                                    <div class="slide-inner">
                                        <img src="{{ image.product_images.url }}" alt="product">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <span class="det-prev det-nav">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="det-next det-nav active">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </div>
                <!-- Thong tin san pham -->
                <div class="row mt-40-60-80">
                    <div class="col-lg-8">
                        <div class="product-details-content">
                            <div class="product-details-header">
                                <h2 class="title">{{ product.product_name }}</h2>
                            </div>
                            <ul class="price-table mb-30">
                                <li class="header">
                                    <h5 class="current">{% translate 'Current Price' %}</h5>
                                    <h3 class="price">US $700.00</h3>
                                </li>
                                <li>
                                    <span class="details">{% translate 'Bid Increment (US)' %}</span>
                                    <h5 class="info">$50.00</h5>
                                </li>
                            </ul>
                            <div class="product-bid-area">
                                <form class="product-bid-form">
                                    <div class="search-icon">
                                        <img src="{% static 'images/product/search-icon.png' %}" alt="product">
                                    </div>
                                    <input type="text" placeholder="{% translate 'Enter you bid amount' %}">
                                    <button type="submit" class="custom-button">{% translate 'Submit a bid' %}</button>
                                </form>
                            </div>
                            <div class="buy-now-area">
                                <a href="#0" class="custom-button">{% translate 'Buy Now: ' %} $4,200</a>
                                <a href="#0" class="rating custom-button active border"><i class="fas fa-star"></i> {% translate 'Add to Wishlist' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product-sidebar-area">
                            <div class="product-single-sidebar mb-3">
                                <h6 class="title">{% translate 'This Auction Ends in:' %}</h6>
                                <div class="countdown">
                                    <div id="bid_counter1"></div>
                                </div>
                                <div class="side-counter-area">
                                    <div class="side-counter-item">
                                        <div class="thumb">
                                            <img src="{% static 'images/product/icon3.png' %}" alt="product">
                                        </div>
                                        <div class="content">
                                            <h3 class="count-title"><span class="counter">82</span></h3>
                                            <p>{% translate 'Total Bids' %}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-tab-menu-area mb-40-60 mt-70-100">
                <div class="container">
                    <ul class="product-tab-menu nav nav-tabs">
                        <li>
                            <a href="#details" class="active" data-toggle="tab">
                                <div class="thumb">
                                    <img src="{% static 'images/product/tab1.png' %}" alt="product">
                                </div>
                                <div class="content">{% translate 'Description' %}</div>
                            </a>
                        </li>
                        <li>
                            <a href="#history" data-toggle="tab">
                                <div class="thumb">
                                    <img src="{% static 'images/product/tab3.png' %}" alt="product">
                                </div>
                                <div class="content">Bid History (36)</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Thong tin chi tiet san pham -->
            <div class="container">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="details">
                        <div class="tab-details-content">
                            <div class="header-area">
                                <!-- Ten san pham -->
                                <h3 class="title">{{ product.product_name }}</h3>
                                <!-- Mo ta chi tiet san pham -->
                                <div class="item">
                                    {{ product.description | safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Lich su dau gia -->
                    <div class="tab-pane fade show" id="history">
                        <div class="history-wrapper">
                            <div class="item">
                                <h5 class="title">{% translate 'Bid History' %}</h5>
                                <div class="history-table-area">
                                    <table class="history-table">
                                        <thead>
                                            <tr>
                                                <th>{% translate 'Bidder' %}</th>
                                                <th>{% translate 'date' %}</th>
                                                <th>{% translate 'time' %}</th>
                                                <th>{% translate 'unit price' %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td data-history="bidder">
                                                    <div class="user-info">
                                                        <div class="thumb">
                                                            <img src="{% static 'images/history/01.png' %}" alt="history">
                                                        </div>
                                                        <div class="content">
                                                            Moses Watts
                                                        </div>
                                                    </div>
                                                </td>
                                                <td data-history="date">06/16/2021</td>
                                                <td data-history="time">02:45:25 PM</td>
                                                <td data-history="unit price">$900.00</td>
                                            </tr>
                                            <tr>
                                                <td data-history="bidder">
                                                    <div class="user-info">
                                                        <div class="thumb">
                                                            <img src="{% static 'images/history/02.png' %}" alt="history">
                                                        </div>
                                                        <div class="content">
                                                            Pat Powell
                                                        </div>
                                                    </div>
                                                </td>
                                                <td data-history="date">06/16/2021</td>
                                                <td data-history="time">02:45:25 PM</td>
                                                <td data-history="unit price">$900.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center mb-3 mt-4">
                                        <a href="#0" class="button-3">{% translate 'Load More' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
    <!--============= Product Details Section Ends Here =============-->
{% endblock product_detail %}

{% block bid_scripts %}
    <script type="text/javascript"  src="{% static 'js/myJS/reconnecting-websocket.js' %}" ></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            let room_name_json = {{ room_name_json }};
            let roomName = {{ auction.id | escapejs }};
            let username = {{ username }};
            let winner;

            let url = "ws://" + window.location.host + "/ws/auction/" + room_name_json + "/" + "{{ product.product_slug }}";

            let chatSocket = new ReconnectingWebSocket(url);
            
            chatSocket.onopen = function (event) {
                console.log("websocket connection opened!");
                fetchMessages();
            };
            chatSocket.onmessage = function(event) {
                const data = JSON.parse(event.data);
                console.log("message receive from server ...", data);
            }
            chatSocket.onclose = function (event) {
                console.error("websocket connection closed...");
            }
        
            function fetchMessages()
            {
                chatSocket.send(JSON.stringify({
                    auction_id: 1,
                    command: "fetch_messages"
                }));
            };
        });
    </script>
{% endblock bid_scripts %}